<!DOCTYPE html>
<html>

<head>
  <title>ASProject -
    <%= app_title %>
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#020202">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="icon" type="image/x-icon" href="images/feather.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <!-- Font Google -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg" style="position:absolute;">
    <div class="container"> <a class="navbar-brand navbar-logo" href="/index"> <img src="images/signature.png"
          alt="signature" class="logo-1" width="160" height="40"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
          class="fas fa-bars"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/library" data-scroll-nav="0">
              <%=__('backto_library')%>
            </a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-------Banner Start------->
  <section class="banner" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">
                <%= app_title %>
              </h2>
              <p class="banner-text white">
                <%= app_desc %>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"> <img src="images/<%= app_param %>_icon.png"
              class="img-fluid wow fadeIn banner-image" /> </div>
        </div>
      </div>
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="images/applight-wave.svg"> </span>
  </section>

  <!-------Banner End------->

  <!-------About End------->

  <section class="about section-padding prelative" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="sectioner-header text-center">
            <h3>
              <%=__('play_now')%>
            </h3>
          </div>
          <div class="section-content text-center">
            <div class="row">
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s"> <img src="images/apfitness.png"
                    class="wow fadeIn" data-wow-delay="0.4s" width="100px" height="100px" />
                  <h5>AP Fitness</h5>
                  <p>
                    <%=__('app1content')%>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s"> <img src="images/ceppos.png"
                    class="wow fadeIn" data-wow-delay="0.6s" width="100px" height="100px" />
                  <h5>Ceppos</h5>
                  <p>
                    <%=__('app2content')%>
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s"> <img src="images/parkor.png"
                    class="wow fadeIn" data-wow-delay="0.8s" width="100px" height="100px" />
                  <h5>Parkor</h5>
                  <p>
                    <%=__('app3content')%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <!-- scrollIt js -->
  <script src="js/scrollIt.min.js"></script>

</body>

</html>